/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{margin-top: 30%;
    width: 96%;
    margin-left: 2%;}

    .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .workmenu {
        width: 100%;
    }
.list,.contactlinks,.menu,.singlechoice,#bio,#title,#who,#hidemenu,.showmenu,#menubuttonforworks {font-size: 2em;}
.titleholder,.titleholderforworks{margin-left: 0%;
    width: 100%;
    background: rgb(250,250,250,0.9);}
.mwmenu {width: 80%;
    margin-top: 45%;
    margin-left: 9%;}
#mwbod {width: 4%;}
.gifwork,#pinkskull2A{
    margin-top:50%;
}
    .collworks {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;}

    #collxchico {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;}
    
    #rsfinvite{
    margin-top: 30% ;width: 96%;
    margin-left: 2%;}


 .hvinvites {
    width: 70%;
    margin-left: 15%;}

    .inviteholder {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;}

    .regworkhold2{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display:none;}

    #biostatement {
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder2{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}


.gifworkB {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}

}
