/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .regworkhold{width: 90%;
    margin-left: 5%;
    margin-top: 75%;
    display:none;}

    #biostatement {position:fixed;
        overflow-y:scroll;
        top:0;
        bottom:0;
    font-family: nintendo;
    font-size: 1.5em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;}
.infoholder{font-family: nintendo;
    font-size: 1.15em;
    line-height: 1.25;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 500%;}
    .collworks2 {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.hvworks {
    width: 90%;
    margin-left: 5%;
}
.hvworks2 {
    width: 90%;
    margin-left: 5%;
}
.HVtitleworks{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}
.HVtitleworks2{margin-bottom: 30%; font-family: nintendo;
    font-size: .85em;
margin-left: 5%}

}
